<div class="cv-container">
  <div class="title">
    <h1>{{data.name}}</h1>
    <h2>{{data.title}}</h2>
  </div>
  <h2 class="cv-title">Curriculum Vitae</h2>
  <div class="cv-main">
    <div class="cv-personal">
      <img src="../img/avatar.jpg" alt="Michał Lach picture">
      <h3>{{ 'PersonalData' | translate }}</h3>
      <ul>
        <li ng-repeat="item in data.personal">{{item}}</li>
      </ul>
    </div>
    <div class="cv-profile">
      <h3>{{ 'PersonalProfile' | translate }}</h3>
      <ul>
        <li ng-repeat="skill in data.skills">{{skill}}</li>
      </ul>
    </div>
    <div class="cv-exp">
      <h3>{{ 'Experiance' | translate }}</h3>
      <ul>
        <li ng-repeat="job in data.experience">{{job | monthFilter}}</li>
      </ul>
    </div>
    <div class="cv-education">
      <h3>{{ 'Education' | translate }}</h3>
      <p>{{data.education}}</p>
    </div>
    <div class="cv-extra">
      <h3>{{ 'AdditionalInformation' | translate }}</h3>
      <ul>
        <li ng-repeat="extra in data.extra">{{extra}}</li>
      </ul>
    </div>
  </div>
</div>
