@import 'modules/vars.less';
@import 'modules/fonts.less';
body {
  background: url('/img/bg.jpg');
  font-family: BebasNeue, Arial;
}

.cv-container {
  background: @bg;
  width: 890px;
  margin: 20px auto;
  padding: 30px;
  .cv-main {
    background: @bg-inner;
    padding: 0px 30px 20px 30px;
    position: relative;
    h3:before {
      content: ' ';
      background-image: url('/img/header_arrow.svg');
      width: 46px;
      height: 39px;
      display: inline-block;
      background-repeat: no-repeat;
    }
  }
  .cv-personal {
    margin-top: -25px;
    width: 560px;
    img {
      position: absolute;
      top: 0;
      right: 0;
      border: 30px solid @bg;
      min-width: 50px;
      max-width: 250px;
      max-height: 500px;
    }
    ul {
      li:before {
        content: " ";
        display: inline-block;
        background-repeat: no-repeat;
        height: 56px;
        width: 30px;
      }
      li:first-child:before {
        background-image: url('/img/personal_icon.svg');
      }
      li:nth-child(2) {
        color: yellow;
      }
      li:nth-child(3) {
        color: red;
      }
      li:nth-child(4) {
        color: red;
      }
      li:nth-child(5) {
        color: red;
      }
      li:last-child {
        color: blue;
      }
    }

  }
}
