@import 'modules/vars.less';
@import 'modules/fonts.less';

body {
  background: url('/img/bg.jpg');
  font-family: BebasNeue, Arial;
}

.cv-container {
  background: @bg;
  width: 890px;
  margin: 20px auto;
  padding: 30px;
  height: 300px;

}